/*
  MARK: HEADER
*/



header {
  z-index: 9999;
  position: sticky;
  top: 0;
  height: var(--header-height);
  background-color: var(--secondary-color);
  font-size: var(--header-font-size);
  padding: 1rem;
  margin: 0;

  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        gap: 0.5rem;
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        cursor: pointer;

        a {
          color: var(--primary-color-font);
          text-decoration: none;
          padding: 0.5rem 1rem;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }

        .header__homepage-button {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          font-size: calc(var(--header-font-size) + 0.5rem);
          padding-left: 0;

          .header__logo {
            width: calc(var(--header-height) / 2 + 0.25rem);
            aspect-ratio: 1/1;
          }
        }
      }
    }
  }
}



/*
  MARK: FOOTER
*/



footer {
  background-color: var(--secondary-color);
  padding: 1rem;
  margin: 0;
  margin-top: 3rem;
  text-align: center;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
    padding: 1rem;

    a {
      color: #fff;
    }
  }

  div {
    display: flex;
    gap: 1rem;
  }
}



/*
    MARK: Media Queries
*/



/* > 1024px */
@media (min-width: 64rem) {
  header {
    font-size-adjust: 0.5;

    .header__homepage-button {
      font-size: calc(var(--header-font-size) / 2 + 0.5rem);
      padding-left: 0;
    }
  }
}

@media (max-width: 32rem) {
  footer {
    font-size: 1.25rem;

    p {
      padding: 0.5rem;
    }

    div {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}